<div class="container bg"></div>
  <div class="row">
    <div class="center col-md-12">
      <img src="./assets/img/burger.png" alt="burger picture">

      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>

  <br>

  <div class="row">
      <div class="col-md-3"></div>
      <div class="center col-md-3">
        <h4>Burgers You Can Eat</h4>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      
      <div class="col-md-3">
        <h4>Burgers You've Eaten</h4>   
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-3"></div>
  </div>
  
  <br>

  <div class="row">
    <div class="center col-md-12">
      <form id="create-form">

        <div class="form-group">
          <p><h4>Enter a burger you want to eat and click the "Submit" button.</h4></p>
          <textarea id="ca" name="name" rows="5" cols="50"></textarea>
        </div>

        <button class="submit-button" type="submit">Submit</button>
      </form>
    </div>  
  </div>
</div>