* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: #FECB62;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px auto;
  text-align: center;
}

img {
 margin-top: 20px;
}

h1 {
  color: red;
}

h4 {
  color:navy;
}

li {
  padding: 10px;
  margin: 10px;
  background: #faebd7;
  text-align: left;
}

ul{
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.change-devoured {
  background-color: lightgrey;
  color: black;
  border: none;
  font-size: small;
  width: 70px;
  height:30px;
  border-radius: 4px;
}

.submit-button {
  background-color: #3362AD;
  color: white;
  border: none;
  font-size: large;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  border-radius: 8px;
}
