<li>
	{{burger_name}}

	{{#unless devoured}}
	<div style="float: right"><button class="change-devoured" data-id="{{id}}" data-newdevoured="true">
	Devour It!
	</button></div></li>
	 {{/unless}}
</li>
